# Virtual environments
venv/
*/venv/

# PyTorch and other large libraries
*.dll
*.lib

# Machine learning model files
*.pkl
*.h5
*.ckpt
*.onnx
*.pt

# Python cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

4 Neuro Semantic Mirror/ds004301-1.0.2/
4 Neuro Semantic Mirror/venv/
3 Signal Processing & Classification/best_eye_state_model.pkl
